/* Add custom CSS here. */
.menu-item
{
    font-weight: bold;
}

.social a
{
    font-size: 40px;
}

img {
    margin: 2% 2% 0% 2%;
    border: 1px solid #526d7a;
    box-shadow: 1px 1px 5px #888888;
    width: 96%;
}